/* miniNotification jQuery plugn */
body {
    font-family: ‘Helvetica Neue’,arial,helvetica,sans-serif;
}

#main {
    width: 980px;
    margin:  0 auto;
}

#main h1 {
    color: #333333;
    font-size: 24px;
    font-weight: 100;
}


#mini-notification {
    display: none;
    cursor: pointer;
    width: 100%;
    background: #fff;
    position: fixed;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    border-top: 2px solid #fff;
    z-index:10000;
    color: #7A7472;
    -moz-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
}

#mini-notification .inner {
    position: relative;
    width: 800px;
    margin:  0 auto;
    padding-right: 60px;
}

#mini-notification .close {
    position: absolute;
    color: #000;
    top: 0;
    right: 0;
}

#mini-notification a.close:hover {
    text-decoration: underline;
}