/* miniNotification jQuery plugin */
body {
    font-family: helvetica,'Georgia',arial,sans-serif;
    background-color: #fafbf1;
    color: #3C3C3C;
}

p {
    padding: 10px 0;
    margin:  0;
}

h1 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 100;
    letter-spacing: 1px;
    border-bottom: 1px solid #3C3C3C;
}

h1 strong {
    text-transform: uppercase;
    font-weight: bold;
}

#main {
    width: 980px;
    margin:  40px auto;
}

#mini-notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    background: #fff;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #fff;
    z-index:9999;
    color: #3C3C3C;
    -moz-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
}

#mini-notification .inner {
    position: relative;
    width: 800px;
    margin:  0 auto;
    padding-right: 60px;
}


#mini-notification .close {
    position: absolute;
    color: #000;
    top: 10px;
    right: 0;
}

#mini-notification a.close:hover {
    text-decoration: underline;
}